.html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: ;
  box-sizing: content-box;
}

.wrapper {
  max-width: 1200px;
  height: 100vh;
  margin: auto;
}

.header {
  background-color: black;
  height: 170px;
  width: 100%;
	margin-bottom: 0px;
}

h1 {

  font-size: 20px;
  padding: 1% 0%;
}

.side-navigation {
  width: 25%;
  float: left;


}

.content {
  /* background-color: blue; */
  width: 75%;
  height:auto;
  float: right;
	position: relative;
}

.footer {
  background-color: red;
  width: 100%;
  height: auto;
  clear: both;
	text-align: center;
}

.logo-jasmine {
	height: 40%;
	padding: 30px 0px 30px 90px;
  width: 15%;
}

.button-login {
	background-color: white;
	width: 150px;
  height: 40px;
  float: right;
  margin: 40px 100px 0px 90px;
	border-radius: 30px;

}
.button-login:hover {
	background-color: grey;
	font-weight: bold;
}

.button-login-text {
  text-align: center;
  transform: translate( 0%, 80%);
}

.header-navigation {
	height: 23%;
	background-color: grey;
	text-align: center;
}

.header-navigation-item {
	display: inline;
}

.header-navigation-item a {
	text-decoration: none;
	padding: 13px;
	color: black;
	display: inline-block;

}
.header-navigation-item a:hover {
	background-color: white;
	color: black ;
	font-weight: bold;
	border-bottom: solid 1px black;
}

 .side-navigation-header {
	 font-size: 16px;
	 color: black;
	 background-color: #BCC4CC;
	 /* text-align: center; */
	 padding-top: 10px;
	 padding-bottom: 10px;
	 /* padding-left: 25px; */
	 width: 280px;
 }

.side-navigation-item {
	font-size: 13px;
}

.side-navigation-item a {
	text-decoration: none;
	color: black;
	display: block;
	padding: 10px 0px 10px 25px;

}

.side-navigation-item a:hover {
 text-decoration: underline;
}

.side-navigation {
	border: solid 1px black;
	width: 280px;
}

.side-navigation-header-headline {
	padding-left: 25px;

}

.content-product-box {
	width: 23%;
	height: auto;
	background-color: pink;
	margin: 5% 2% 2% 5%;
	display: inline-block;
	position: relative;


}

.content-product-box-photo {
	width: 100%;
	display: inline-block;
	margin-bottom: 5px;
}

.content-product-box-product-name {
	margin-bottom: 10px;
	margin-left: 9px;
}
.content-product-box a {
  font-size: 15px;
	text-decoration: none;
	color: gray;
	align: right;
	margin-bottom: 10px;
	letter-spacing: 1px;
	line-height: 25px;
}

.content-product-box-product-price {
	height: auto;
	margin-left: 9px;
}

.content-product-box-product-price {
	font-size: 18px;
	color: gray;
}

.button-reservation {
	background-color: blue;
	width: 120px;
  height: 40px;
  float: right;
  margin: 15px 45px;
	border-radius: 30px;
	/* text-align: center; */
}

.button-reservation:hover {
	background-color: grey;
	font-weight: bold;
	color: black;
	font-size: 20px;
}

.button-reservation-text {
  text-align: center;
  transform: translate( 0%, 90%);
	font-size: 14px;
}

.search {
  margin-left: 63%;
	position: absolute;
}
.footer-navigation {
	height: 90px;
	width: 20%;
	background-color: black;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;


}

.footer-company-address {
	height: 20px;
	width: 1200px;
	display: inline-block;
	background-color: blue;
	/* position: relative;
	left: 50%;
	margin-left: -100px; */
}
.footer-logo {
	background-color: green;
	height: 50px;
	width: 200px;
	display: inline-block;
	/* position: relative;
	left: 50%;
	margin-left: -100px;
	margin-top:5px; */
}

.footer-navigation-item {
	font-size: 15px;
	color: #9C9792;
  display: block;
	line-height: 22px;
}
 .footer-navigation-list {
	 display: inline-block;
	 text-align: center;
	 padding-top: 15px;
 }

.footer-navigation-list a {
   text-decoration: none;
	 color: gray;
}

.footer-navigation-list a:hover {
	text-decoration:underline;
}
